IDENTIFIER=Local

DB_CONNECTION_STRING=mysql://administrator:123456@127.0.0.1:3306/local_catalog
#DB_CONNECTION_STRING=mysql://phoenix:fBgwef^sdfaH@52.76.48.239:7007/dev_catalog
#DB_CONNECTION_STRING=mysql://root:cVs3^g90HiKd@52.76.48.239:7007/dev_catalog
#DB_CONNECTION_STRING=mysql://phoenix:fBgwef^sdfaH@bizzyphnx-staging.cgvwalckpbua.ap-southeast-1.rds.amazonaws.com:3306/dev_catalog

MONGO_CONNECTION_STRING=mongodb://catalog:divWcsl1yY@52.76.48.239:5006/dev_catalog

S3_KEY=AKIAILZVY6H76HUV675A
S3_SECRET=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
S3_REGION=ap-southeast-1
S3_BUCKET=catalogproducts-staging