#API_BASE_URL_BO=https://dev-boapi.bizzy.co.id/v1
#API_BASE_OATH=https://cr7z0wr042.execute-api.ap-southeast-1.amazonaws.com/DEV
#API_BASE_OATH=https://dev-api.bizzy.co.id/v1
#API_BASE_OATH=https://dev-boapi.bizzy.co.id/v1
#API_BASE_URL_FO=https://dev-api.bizzy.co.id/v1


# staging
API_BASE_URL_BO=https://test-boapi.bizzy.co.id/v1
API_BASE_OATH=https://test-api.bizzy.co.id/v1
API_BASE_URL_FO=https://test-api.bizzy.co.id/v1-catalogs
API_PUBLIC_URL=https://test-open-api.bizzy.co.id

#staging
#USERNAME_BO=fatkhurozaq.budi@bizzy.co.id
#PASS_BO=bizzy123
#USERNAME_FO=vendor@ildav.com
#USERNAME_CUST= customer@test.com
#PASS_FO=bizzy123
