IDENTIFIER=Local
DB_CONNECTION_STRING=mysql://user:pass@host:port/db_name
MONGO_CONNECTION_STRING=mongodb://user:pass@host:port/db_name
 
S3_KEY=
S3_SECRET=
S3_REGION=
S3_BUCKET=
 
ALGOLIA_APP_ID=
ALGOLIA_API_KEY=
ALGOLIA_INDICES=

BCI_ID=